.buttons-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;

  .main-button {
    width: 45%;
  }

  .secondary-button {
    width: 45%;
  }
}

.content-wrapper {
  text-align: center;
}
