<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Log In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="login-box">
        <form [formGroup]="form" (ngSubmit)="login()" #loginForm="ngForm">
            <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email" required></ion-input>
            </ion-item>

            <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>

            <ion-button class="button" full type="submit" color="danger" [disabled]="!loginForm.form.valid" (click)="login()">Login</ion-button>
            <ion-button class="button" full type="submit" color="primary" (click)="register()">Create account</ion-button>
        </form>
    </div>
</ion-content>
